@pagetitle: Contact the CuteFig author
@title: Contact me
@author: Johannes Mueller
@email: joh@users.berlios.de
@version: $Id$
#
<p>
If you have any questions on the CuteFig, want to report bugs, contribute code
or any other kind of help, you might consider using the facilities on the 
<a href="http://developer.berlios.de/projects/cutefig/">project page</a>.
</p>
<p>
In case you want to contact me personally you can use the emailaddress below or
drop a jabber message to joh@jabber.ccc.de.
</p>
