@pagetitle: CuteFig developer information
@title: Hacking the CuteFig
@author: Johannes Mueller
@email: joh@users.berlios.de
@version: $Id$
#
<h2>System requirements</h2>
<p>
To compile and test the CuteFig you'll need apart from the usual developer
tools
<ul> 
<li>The QT-Libraries version 4 from 
    <a href="http://www.trolltech.com">TrollTech</a>.
<li>The recent sources of the CuteFig (see <a href="download.html">download 
    section)</a>.
<li><a href="http://www.doxygen.org">Doxygen</a> to make the html-version of
    the sourcecode documentation.
</ul>
</p>
<h2>Basic information</h2> 
<p>
The CuteFig is written in the C++ programming language. It uses the
QT-libraries as GUI-toolkit and abstraction layer to make it platform
independent.  
</p>
The best way to get familiar with the way the CuteFig is developed probably is
to checkout the sourcecode, read the README, make the html-docs of the
sourcecode and -- well -- read it.
