@pagetitle: CuteFig documentation
@title: Documentation
@author: Johannes Mueller
@email: joh@users.berlios.de
@version: $Id$
#
<p>
There are two sections of documentation right now.
<ul>
<li>The user documentation
<li><a href="developer.html">Documentation for developers</a>
</ul>
</p>
<p>
As the state of the development is far from feature complete the project is
only meant to be checked out by developers and really curious
testers. Therefore the user documentation does not even exist at this point.
