@pagetitle: CuteFig download page
@title: Getting the CuteFig
@author: Johannes Mueller
@email: joh@users.berlios.de
#
<p>
The CuteFig project is hosted at 
<a href="http://developer.berlios.de">BerliOS.de</a>.
</p>
<p>
Due to the early state of development there are no tarballs yet. Don't talk
about debs, rpms or ebuilds or whatever. You can get its source code by
anonymous svn. Therefore you need a 
<a href="http://subversion.tigris.org">Subversion</a> client. Check out the
code by a command like
<pre>svn checkout svn://svn.berlios.de/cutefig/trunk</pre>
</p>
<p>
Get into the made up directory cutefig and read the README and INSTALL files
for further instructions. Assumed you have the QT-libs version 4 installed
properly you will be able to build the CuteFig by the command 

<pre>qmake && make</pre>
</p>
<p>
The executable then will be in gui_app/cutefig.

