@pagetitle: The (still vaporware) CuteFig diagram/drawing editor
@title: CuteFig Home
@author: Johannes Mueller
@email: joh@users.berlios.de
@version: $Id$
#
<h2>What is it?</h2>

<p>
The CuteFig project intends to write a vector drawing programme,
CuteFig, for scientific and technical drawings and diagrams.  The
motivation of initiating CuteFig was inspired by the well known
programme xfig and its advantages and shortcomings. The goal is to a
drawing programme that has all the advantages of xfig, but not its
shortcomings.
</p>
<br>
<h3>Things that CuteFig will have that are inspired by xfig:</h3>
<p>
<ul>
<li> X-Splines
<li> a simple dataformat that figures can be modified easily by tools like
         awk/sed and perl
<li> good interoperability with LaTeX
</ul>
<br>
<h3>Things that CuteFig will have that xfig doesn't:</h3>
<ul>
<li> color gradients support
<li> better fonthandling (no statical restricions on the available fonts)
<li> Unicode support
<li> better user interface
<li> plugin architecture to support complex drawing objects and subject
         related expert extensions such as CAD, crystallography, complex 
         chemical formulas and other things noone thinks off right now.
</ul>
</p>