@pagetitle: The CuteFig development state
@title: When will it be ready?
@author: Johannes Mueller
@email: joh@users.berlios.de
#
<p>
The phase of design and experiments can be considered to be completed. The next
step is, well, coding. Feel free to play around with the code and even to
contribute.
</p>
<p>
Therefore I checked in the source code into the SVN-repository today. Check
<a href="https://developer.berlios.de/svn/?group_id=4004">this page</a>

