@pagetitle: CuteFig userguide
@title: Using the CuteFig
@author: Johannes Mueller
@email: joh@users.berlios.de
@version: $Id$
#
As the CuteFig is not meant to be used by end users at this point of
development there is no user guide.<br>
Sorry